@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --matte-color: #fd7f52;
  --green-color: #52fd7f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

section {
  padding-top: 3vw;
  padding-bottom: 0;
  padding-right: 2.734vw;
  padding-left: 2.734vw;
}

.footer-padding {
  padding-top: 3vw;
  padding-bottom: 5vw;
  padding-right: 2.734vw;
  padding-left: 2.734vw;
}
